body {
  width: fit-content;
}

h1 {
  color: blue;
}

h2 {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  font-family: Verdana;
  font-size: 35px;
  text-align: center;
}

h3 {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

h4 {
  border-width: 2px;
  border-style: dotted;
  border-color: black;
}

p {
  font-size: 24px;
}

h3.attr-only-sel, p.attr-only-sel, h3.attr-eq-sel, h3.attr-starts-with-sel, h3.attr-ends-with-sel {
  margin: 16px;
}

abbr[title] {
  border: 2px dotted gray;
}

ul.attr-eq-sel, ul.attr-starts-with-sel, ul.attr-ends-with-sel {
  margin-left: 16px;
}

li.attr-eq-sel, li.attr-starts-with-sel, li.attr-ends-with-sel {
  padding: 3px;
}

a[href="https://webdev.mcfedries.com/code/selector-reference/"] {
  color: green;
}

a[href^="https://www"] {
  color: red;
}

a[href$=".org/"] {
  color: firebrick;
}

div.attr-contains-sel {
  font-size: 14px;
  margin: 16px;
}

div[id*="meat"] {
  font-size: 24px;
}

div.attr-1st-sel {
  margin: 16px;
}

div[lang|="en"] {
  color: blue;
}

img {
  width: 200px;
  height: auto;
  margin: 16px;
}

img[alt~="photo"] {
  border: 24px ridge brown;
}

table {
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  text-align: left;
  padding-top: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 0.75rem;
}

th {
  /* width: 200px; */
  padding: 10px;
}

td {
  border: 1px solid black;
  padding: 10px;
}

td:nth-child(1) {
  width: 300px;
}

td:nth-child(4) {
  width: 300px;
}

.nums {
  text-align: right;
}

.lblTotal {
  font-weight: bold;
}

.totVal {
  text-align: left;
  font-weight: bold;
}

button {
  border-radius: 15px;
  box-shadow: 3px 3px 5px grey;
}

.date-time-stamp {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  font-style: italic;
}
 